.ExperienceDetails {
  .ExperienceLeft {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-end;
    align-items: center;
    .Company {
      font-weight: bold;
      font-size: large;
      margin-right: 5px;
    }
    .Location {
      display: flex;
      flex-flow: row nowrap;
      font-size: small;
      .Country {
        text-transform: uppercase;
      }
    }
  }

  .ExperienceRight {
    display: flex;
    flex-flow: column;

    .Skills-section {
      margin-top: 10px;
    }
  }
}
