@import "../../variables.scss";

.Info {
  margin-bottom: 60px !important;
  .Info-left {
    height: 100%;
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;

    .InfoContact {
      display: flex;
      flex-flow: row nowrap;
      align-items: flex-start;
      justify-content: flex-end;
      margin-bottom: 5px;
    }

    .Address {
      .Country {
        text-transform: uppercase;
      }
    }

    .InfoIcon {
      color: $primaryColor;
      margin-top: 4px;
      margin-left: 3px;
    }
  }

  .Info-right {
    height: 100%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: center;

    .Info-name-description {
      margin-left: 15px;
      display: flex;
      flex-flow: column nowrap;
      .InfoName {
        font-weight: bold;
        margin: 0;
      }
      .InfoDescription {
        font-weight: bold;
        font-size: x-large;
        color: $primaryColor;
      }
    }
  }

  .Info-profile-picture {
    border-radius: 50%;
    width: 150px;
  }
}
