@import '../../variables.scss';

.OrganizationDetails {
  display: flex;
  flex-flow: column nowrap;
  align-items: flex-end;
  .Organization {
    font-weight: bold;
    font-size: large;
  }
  .Location {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    font-size: small;
    .LocationIcon {
      color: $primaryColor;
      margin-right: 3px;
    }
    .Country {
      text-transform: uppercase;
    }
  }
  .StartEndDate {
    font-size: small;
  }
}