@import '../../variables.scss';

.ColumnContainer {
  .Col-left {
    text-align: right;
    padding-right: 25px !important;
    &.with-separator {
      border-right: 1.5px solid black;
    }
  }
  .Col-right {
    padding-left: 25px !important;
  }
}
