@import './variables.scss';

.App {
  font-family: Calibri, sans-serif;
  color: #333;

  h2 {
    font-size: calc(0.7rem + 0.9vw);
    font-weight: bold;
    color: $primaryColor;
  }

  ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
}